/*! right_side_venta.scss */

/*
    Descripcion
    1. w--> Width
    2. m--> Margin l--> left r-->right
    3. pd--> Paddin l-->left r--right
    4. ft--> font
    4.colores
*/

/* ==========================================================================
1. Width
========================================================================== */
.flex-c {
    display: flex;
}
.w-full {
    width: 100%;
}
.w-per-60 {
    width: 60%;
}
.w-per-52 {
    width: 52%;
}
.w-per-50 {
    width: 50%;
}
.w-per-49 {
    width: 49%;
}
.w-per-48 {
    width: 48%;
}
.w-per-40 {
    width: 40%;
}

.w-100 {
    width: 100px;
}
.w-300 {
    width: 300px;
}
.w-280 {
    width: 280px;
}

/* ==========================================================================
  2. Margin
  ========================================================================== */

.m-r-12 {
    margin-right: 12px;
}
.m-l-12 {
    margin-left: 12px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-3 {
    margin-right: 3px;
}
.m-l-3 {
    margin-left: 3px;
}
.m-t-30 {
    margin-top: 30px;
}

/* ==========================================================================
  3. Padding
  ========================================================================== */
.pa-r-6 {
    padding-right: 6px;
}
.pa-r-3 {
    padding-right: 3px;
}
.pa-r-12 {
    padding-right: 12px;
}
.pa-b-7 {
    padding-bottom: 7px;
}

/* ==========================================================================
  4. Font
  ========================================================================== */
.bold {
    font-weight: bold;
}

.ft-15 {
    font-size: 15px;
}
.ft-21 {
    font-size: 21px;
}
.ft-28 {
    font-size: 28px;
}
.ft-30 {
    font-size: 30px;
}

/* .ft-roboto {
      font-family: $font-optional;
    }/*
  
  /* ==========================================================================
  4. Colors
  ========================================================================== */
.gris {
    background: #f2f2f2;
}

/* ==========================================================================
  5. Others
  ========================================================================== */
.float-r {
    float: right;
}
